<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= PROJECT_NAME.humanize %></title>
    <%= stylesheet_link_tag 'screen', :media => 'all' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body class="<%= body_class %>">
    <%= render :partial => 'layouts/flashes' %>
    <%= yield %>
  </body>
</html>
