<h2>Sign in</h2>

<% semantic_form_for :session, :url => session_path do |form| %>
  <% form.inputs do %>
    <%= form.input :email %>
    <%= form.input :password, :as => :password %>
  <% end %>
  <% form.buttons do %>
    <%= form.commit_button "Sign in" %>
  <% end %>
<% end %>

<ul>
  <li>
    <%= link_to "Sign up", sign_up_path %>
  </li>
  <li>
    <%= link_to "Forgot password?", new_password_path %>
  </li>
</ul>

