<h2><%= t '.title' %></h2>

<p><%= t '.description' %></p>

<%= form_for :password_reset,
      :url => user_password_path(@user, :token => @user.confirmation_token),
      :html => { :method => :put } do |form| %>
  <div class='password_field'>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class='submit_field'>
    <%= form.submit %>
  </div>
<% end %>
